<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"/>
    <title>Unisex</title>
</head>
<body>
    <header>
        <div class="row-header">
            <div class="logo" id="logo">   
                <a href="/">
                    <img src="/images/logo.png" alt="logo de Unisex">
                </a>
            </div>

            <div class="search-bar header-item">
                <form action="GET">
                    <input type="text" id="search" placeholder="Buscar">
                    <div class="submit clickable">
                        <i class="fa fa-search"></i>
                    </div>
                </form>
            </div>

            <nav class="navbar">
                <ul class="navbar-items">
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
            </nav>
        </div>
        
    </header>

    <div>
        <img src="images/banner.png" alt="banner">
    </div>

    <main>
        <section class="products-sections">
            <h3 class="section-title">Destacados</h3>
            <div class="products">
                <div class="img-products">
                    <img src="images/ropa.jpg" alt="product">
                </div>
                <div class="product-description-container">
                    <p class="product-name"></p>
                    <p class="price"></p>
                    <p class="discount"></p>
                </div>
            </div>
            <div class="products">
                <div class="img-products">
                    <img src="images/ropa.jpg" alt="product">
                </div>
                <div class="product-description-container">
                    <p class="product-name"></p>
                    <p class="price"></p>
                    <p class="discount"></p>
                </div>
            </div>
            <div class="products">
                <div class="img-products">
                    <img src="images/ropa.jpg" alt="product">
                </div>
                <div class="product-description-container">
                    <p class="product-name"></p>
                    <p class="price"></p>
                    <p class="discount"></p>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <div class="footer-items">
            <div class="contact-information">
                <h5>Contactanos</h5>
                <p>ventas@negocio.com</p>
                <p>Ubicacion</p>
            </div>
            <div class="policies">
                <p>Politicas de Privacidad</p>
                <p>Politicas de Devolucion</p>
            </div>
        </div>
    </footer>
</body>
</html>